{
  "all": true,
  "reporter": "lcovonly",
  "exclude": [
    "**/node_modules/**",
    "**/.tmp",
    "**/scripts/**",
    "**/test/**",
    "**/build/**",
    "**/dist/**",
    "**/webpack",
    "**/*webpack.config*",
    "packages/susyknot/nil.js",
    "packages/susyknot-debugger",
    "notes/"
  ]
}
